<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<main>
    <body>
      <div class="login-container">
        
          <h1 class="logo">VAMSA Boba Tea</h1>
          <div class="tagline">Welcome! Please log in to continue</div>
          <a href="/auth/google" class="btn-google">
              <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google logo">
              Login with Google
          </a>
      </div>
      <button id="translateBtn" data-lang="es"><span>🇪🇸</span> <span>Translate to Spanish</span></button>
    <script src="/js/translator.js"></script>
    </body>
</main>

</html>
