<!DOCTYPE html>
<head>
    <title>Manager Page</title>
    <link rel="stylesheet" href="../public/css/manager.css">
</head>
<body>
    <div class="main-container">

        <div class="options-pane">

        </div>

        <div class="menu-items">
            <% for (var i in menuItems) { %>
            <p>
                Item Name: <%= menuItems[i].itemname%>,
                Item Price: <%= menuItems[i].itemprice %>,
                Item Description: <%= menuItems[i].itemdescription %>
            </p>
            <%} %>


        </div>

        <div class="inventory-items">


        </div>

        <div class="employees">

        </div>

    </div>
    
</body>