<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/landing.css">
    <title>Unauthorized</title>
</head>
  <body>
    <div class="login-container">
        <div class="logo">You are not authorized to view this page</div>

        <a href="/customer/landing" class="btn-google">
            Back to Home
        </a>
        
    </div>
  </body>
</html>
